//@import "globals.css";

@layer layout {
	// Стили только для простых текстовых ссылок

	a:not([class]),
	a.link-default {
		text-decoration: underline;

		&:hover {
			color: black; // Твой цвет
		}

		&.simple-text {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	button[role="checkbox"] svg.tabler-icon.tabler-icon-check {
		stroke: white;
		stroke-width: 3;
	}
}

li.cn-toast[data-sonner-toast] {
	button[aria-label="Close toast"] {
		&:hover {
			svg {
				stroke: white;
			}
		}
	}
}
